.container .bar {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    animation: progress-animation 4s forwards;
}

.container .bar .name{
    position: absolute;
    top:20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    animation: text-animation 4s forwards;
}
.credit{
    display:flex;
    left: 97%;
 
    transform: translate(-50%, -50%);
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center; 
    animation: text-animation 4s forwards;

}

@keyframes progress-animation {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}


body {
    height: 100vh;
    width: 100vw;
    background: #ffffff;
    margin: 0rm;
    overflow: hidden;
}





#myimages>.image {
    width: 40vmin;
    height: 50vmin;
    object-fit: cover;
    object-position: center;

}

#myimages {

    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-0%, -50%);

}